
* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.4;
    direction: rtl;
    box-sizing: border-box;
    
    body {
        height: 100%;
        margin: 0 auto;
        background-color: $white;
        
        .content-wrapper {
            margin: 0 auto;
            width: 1280px;
        
            @media (max-width: 1380px) {
                width: 90%;
                margin: 0 auto;
            }
        } 
        
        a {
            text-decoration: none;
        }
        
        ul {
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            
            li {
                list-style: none;
            }
        }

        select {
            cursor: pointer;
        }

        .input-error-notification {
            color: $red; 
        }
    }
}


