// Color variables

$white: #FCFCFC;
$black: #010300;

$gray-100: #CFCBC8;
$gray-150: #dcd9d9;
$gray-300: #EEEEEE;
$gray-400: #f4f4f4;
$gray-700: #6B6B6B;
$gray-800: #6F6F6F;
$gray-850: #222222;
$gray-950: #262626;
$gray-1000: #24282E;

$blue-100: #0f8ac0; 
$blue-200: #40d9f1;
$blue-250: #E8F6FD;
$blue-300: #f7fcff;
$blue-500: #e8fdff;
$blue-800: #001d44; 


$yellow: #FCD445;

$green: #44B200;
$green-600: #017042;
$green-800: #019a5afd;


$coral: #EB5757;

$red: #CE0000;
$red-600: #e5bfbf;

$black-1000: #00011B;
$pink: #FDF4F7;
$blue: #505add;
$purple: #DF42B1;
$gray-paragraph: #66667F;
$light-gray: #F4F4FD;
$gray-200: #CFCFE1;

